[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
dotenv = "*"
python-dotenv = "*"
flask-wtf = "*"
mysqldb = "*"
python-mysqldb = "*"
pymysql = "*"
mysqlclient = "*"
bootstrap-flask = "*"

[requires]
python_version = "2.7"
