{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}index{%endblock%}

{%block content%}

<div>
    <form action="{{request.full_path}}" method="post">
        {{ form.csrf_token }}
        <div class="form-group required">
            {{ form.name.label }}
            {{ form.name(class='form-control') }}
            {% for msg in form.name.errors %}
            {{ msg }}
            {% endfor %}
        </div>
        <br>
        <div class="form-group required">
            {{ form.message.label }}
            {{ form.message(class='form-control') }}
            {% for msg in form.message.errors %}
            {{ msg }}
            {% endfor %}
        </div>
        <br>
            {{ form.submit(class='btn btn-primary') }}
    </form>
</div>

<br>
<br>

<div>
    <h5>this tablet got {{ msg|length }} messages!</h5>

    <hr>
    <small><a href="#bottom">&darr;</a></small>

    <div class="list-group center-block">

        {% for msg in msg %}
        <div class="panel panel-info">
          <div class="panel-heading">


             <h3 class="panel-title">#{{ loop.revindex}}   name:{{ msg.name }}</h3>
          </div>

          <div class="panel-body">
             message:{{ msg.body }}
              <br>
              <small>datetime:{{ msg.timestamp.strftime('%Y/%m/%d %H:%M')}}</small>
          </div>

        </div>
        <br>
        {% endfor %}
    </div>
</div>


{{ render_form(form, action=request.full_path) }}



{%endblock%}

